
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<h3>Welcome @ViewBag.CurrentUser!</h3>

<br/> 
<h4><a href="@Url.Action("MyConversations", "Home")">My Conversations</a></h4>
<br/>
<h4><a href="@Url.Action("StartAConversation", "Home")">Start A Conversation</a></h4>